.Box{
    border-radius: 10px;
    border: 2px solid #00fe6e;
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 10px;
}
.BoxH3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.BoxText{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    margin: 10px;
    height: auto;
}
.BoxUl{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    width: auto;
    left: 0;
    height: auto;
}
.BoxUl li{
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
}
.BoxUl li:hover{
    text-shadow: 0px 0px 2px #fff;
}
.BoxInputField{
    display: flex;
    justify-content: center;
    align-items: center;
}